[Desktop Entry]
Name=Change VNC Password
Comment=Change the VNC password and restart the VNC server
Exec=/usr/local/bin/change_vnc_password.sh
Icon=preferences-desktop-user-password
Terminal=true
Type=Application
Categories=Utility;
